*{
    border: 0;
    padding: 0;
}

/*
Pseudo-classes
https://developer.mozilla.org/pt-BR/docs/Web/CSS/Pseudo-classes
*/

.heading{
    transition: all 1s ease-in-out;
}

.heading:hover{
background:  red;
}

a{
    color: blue;
}


/*link que não foram visitados*/
a:link {
    color: deeppink;
}

/*links que foram visitados*/
a:visited{
    color: firebrick;
}

a:hover{
    background:  darkmagenta;
    color:  white;
    text-decoration: none;
}

a:active{
    background:  yellow;
    color:  white;
    text-decoration: none;
}


input:checked + p{
    background:  red;
}


.pai .lista li:first-child{

    background:  red;
}


input :required{
    background:  red;
}

/*
input:checked{
    width: 50px;
    height: 50px;
}

/*
input:focus{
    border: 1px solid black;
    outline: none;
    box-shadow: 05px rgba(0,0,0,0.5);
}

input:disabled{
    background-color: rebeccapurple;
    cursor: not-allowed;
}

input:enabled{
    background-color: yellow;
    cursor: not-allowed;
}

*/