*{
    border: 0;
    padding: 0;
}


.grid::after{
    content: '';
    display: block;
    clear: both;
}

.grid .col {
   /* display: block; /*vem como default*/
   /*display:  inline-block; */ 
   
   width: 200px;
    height: 200px;
    background:  red;
   margin: 10px;
  float:  left;
}


p{
    clear: both;
}
    